*.o
*.ao
*.d
*.gch
*.gch-*
t.an
u.an
ante
bootante
syntax.tab.c
.clang_complete
src/parser.output
src/parser.cpp
include/*.hh
include/yyparser.h
/src/location.hh
/src/position.hh
/src/stack.hh
/t.exe
