*.o
*.ao
*.d
*.gch
*.gch-*
t.an
u.an
ante
antetests
bootante
unittest
syntax.tab.c
.clang_complete
src/parser.output
src/parser.cpp
include/*.hh
include/yyparser.h
/src/location.hh
/src/position.hh
/src/stack.hh
/t.exe
*.cbp
CPack*
cmake*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/*
compile_commands.json
.idea/*
Makefile
llvm_build/*
